# default build directory
build
fix_typos
code_linter
src/version/_version.h
v[0-9]*
ortools
build1
bin_packing.cc
gpush.sh
vrprun.sh
error_output.txt
.vscode/
vroom-v1.12.0/

# files are ignored on gh-pages
doxy

.DS_Store
.vagrant
.directory
notUsed
*.swp
